<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotybot</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>SPOTYBOT</h1>
    <a href="<%= link %>" class="buttonLink">
        <div id="bottoneSpotify">
            <img src="img/spotifyLogo.png" width="60px" alt="spotify logo">
            <span id="spotify">Spotify</span>
        </div>
    </a>
</body>
</html>